# Logs
logs/
*.log


# Editor directories and files
/.vscode/
/.vscode/*
!.vscode/extensions.json

.DS_Store


# IDE files
*.sln
.idea


# Build Tools
/.tools/
/.tools/*
build/
build/*

# Text files
*.txt

#Bin and Resources files
/bin/*
/resources/models/*
/textures/*
/resources/fonts/*

#Libraries
/.3rdParty/
/.3rdParty/*
