# Logs
logs/
*.log


# Editor directories and files
/.vscode/
/.vscode/*
!.vscode/extensions.json
*.code-workspace
.DS_Store


# IDE files
*.sln
.idea


# Build Tools
/.tools/*.exe
!/.tools/*.json
build/
build/*

# Text files
*.txt

#Bin files
/bin/*
*.a
*.o
*.gch

#Libraries
/.3rdParty/
/.3rdParty/*

# Resources
/textures/*
/resources/models/*
!/resources/models/*.json
/resources/fonts/*.ttf
!/resources/fonts/*.json
